{% liquid
  assign enable_rtl = settings.rtl
  assign iso_code = request.locale.iso_code
  assign lis_language_rtl = settings.language_rtl
  if lis_language_rtl != blank
    if lis_language_rtl contains iso_code
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}

<!doctype html>
<html
  class="no-js{% if enable_rtl %} body-rtl{% endif %}"
  lang="{{ iso_code }}"
>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_mobile_browser }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <meta name="description" content="{{ page_description | default: shop.description | default: shop.name | escape }}">
    {% render 'meta-tags' %}
    {{ content_for_header }}
    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    {%- render 'head-assets' -%}

    {{ shop.metafields.loox.global_html_head }}
    <style>
      .preload-page {
        background-color: #fff;
        z-index: 9999;
        opacity: 1;
        left: 0;
        top: 0;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: flex;
      }
      .preload-screen-loading-bar {
        width: 13rem;
        height: 0.2rem;
        border-radius: 0.2rem;
        background-color: #ebebeb;
        overflow: hidden;
        position: relative;
        display: block;
      }
      .preload-screen-loading-bar::after {
        content: '';
        height: 100%;
        width: 6.8rem;
        position: absolute;
        transform: translate(-3.4rem);
        background-color: #111111;
        border-radius: 0.2rem;
        animation: initial-loading 1s ease infinite;
      }
      @keyframes initial-loading {
        0% {
          transform: translate(-6.8rem);
        }
        100% {
          transform: translate(13rem);
        }
      }
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const preload = document.querySelector('#preload-page');
        if (!preload) return;
        preload.style.transition = 'opacity .2s cubic-bezier(0.7, 0, 0.2, 1)';
        preload.style.opacity = '0';
        setTimeout(() => preload.remove(), 200);
      });
    </script>
  </head>
  <body class="{% unless request.design_mode %}is-frontend{% endunless %} gradient {% if template.name == 'collection' %}template-collection{% endif %}{% if template.name == 'product' %}template-product {% endif %}{% if template.name == 'index' %}template-index{% endif %} {%- if settings.general_layout == 'boxed' -%}box-layout{% elsif settings.general_layout == 'full_width' %}full-width-layout{% else %}{%- endif -%} {% if settings.content_center %}item-center{% endif %} {% if settings.image_style != blank %}product-images-style-radius{% endif %} {% if template.suffix contains 'layout-2' %}product-digital-layout-2{% endif %}">
    <div class="bls-wrapper">
      <div
        id="preload-page"
        class="preload-page"
      >
        <span class="preload-screen-loading-bar"></span>
      </div>
      <div class="bls__overlay d-none-overlay"></div>
      {%- sections 'header-group' -%}
      <main
        id="MainContent"
        class="content-for-layout focus-none{% if template == 'product' or template == 'page.wishlist' or template == "page.recently-viewed-products" %} skeleton-product-detail{% endif %}"
        role="main"
        tabindex="-1"
      >
        {{ content_for_layout }}
      </main>
      {%- sections 'overlay-group' -%}
      {%- sections 'footer-group' -%}
      {%- section 'mobile-stickybar' -%}
      {%- section 'custom-colors' -%}
    </div>
    {%- render 'content-bottom' -%}
    {%- render 'scripts-tag' -%}
    {{ shop.metafields.loox.global_html_body }}
  </body>
</html>
