<div class=" dimond-grid-section">
  <div class="width-container">
    <div class="head">
      <h2 class="diamond-h1">{{ section.settings.dia_heading }}</h2>
    </div>

     <div class=" diamondSlider">
      <div class="diamond-main-box ">
        {% for block in section.blocks %}
          <div class="diamond-box swiper-slide">
        {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
              <div class="diamond-img-box " style="background-color:{{block.settings.diamond_back}};">
                {% if block.settings.diamond_img != blank %}
                  <img src="{{ block.settings.diamond_img | img_url: 'master' }}" class="diamond-img">
                {% endif %}
              </div>
              <h2 class="diamond-h2">
                {% if block.settings.dia_title != blank %}
                  {{ block.settings.dia_title }}
                {% endif %}
              </h2>
              {% if block.settings.url != blank %}</a>{% endif %}
          </div>
        {% endfor %}
      </div>
     </div>
     

  </div>
</div>

{% schema %}
  {
    "name": "diamond Section",
    "settings": [
      {
        "id": "dia_heading",
        "type": "text",
        "label": "Heading"
      }, {
        "id": "background",
        "type": "color",
        "label": "Background Color"
      }
    ],
    "blocks": [
      {
        "name": "block",
        "type": "text",
        "settings": [
          {
            "id": "diamond_img",
            "type": "image_picker",
            "label": "Image"
          }, 
          {
            "label": "Link",
            "id": "url",
            "type": "url"
          },
          {
            "id": "dia_title",
            "type": "text",
            "label": "Image heading"
          }, {
            "id": "diamond_back",
            "type": "color",
            "label": "Diamond backgroud"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "diamond section"
      }
    ]
  }
{% endschema %}
<style>
  .diamondSlider {
    max-width: 1400px;
    margin: 0 auto;
}
  .dimond-grid-section {
    background-color: {{ section.settings.background }};
  }
  .diamond-main-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  .diamond-h2 {
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    font-weight: 600px;
    font-family: 'Roboto', sans-serif !important;
    color: #777777;
  }
  .diamond-h1 {
    font-size: 36px;
    line-height: 83.43px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto', serif !important;
    color: #282828;
  }
  .diamond-box {
    margin: 10px;
  }
  .diamond-img {
    width: 100%;
  }
  .diamond-img-box {
    padding: 10px;
  }
  @media (max-width: 1024px) {
    .diamond-main-box {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (max-width: 768px) {

    .diamond-h1 {
      font-size: 36px;
    }
  }
  @media (max-width: 680px) {
    .diamond-main-box {
      grid-template-columns: repeat(4, 1fr);
    }
    .diamond-h1 {
      font-size: 50px;
    }
  }
  @media (max-width: 576px) {
    
  .diamond-main-box {
      grid-template-columns: repeat(3, 1fr);
      /* display: flex; */
    }
    .diamond-main-box > *:nth-last-child(1):nth-child(3n+1) {
      grid-column: 2 / span 1; /* Put it in center column */
    }
    .diamond-h1 {
      font-size: 30px;
      line-height: 60px;
    }
  }
  @media (max-width: 400px) {
   
    .diamond-h1 {
      font-size: 30px;
      line-height: 60px;
    }
    
  }
  @media (min-width:0px) and (max-width:400px) {
    .dimond-grid-section {
      padding-top:220px ;
    }
  }
</style>
<!-- <script>
    if ( $(window).width() <=  576 ) {
      var swiper = new Swiper(".diamondSlider", {
        slidesPerView: 3,
        spaceBetween: 5,
        breakpoints:{
          375:{
            slidesPerView: 2,
        spaceBetween: 5,
          }
        }
      });
    }
  </script> -->
